---
interface Props {
  email: string;
}

const { email } = Astro.props;
import { Mail } from "astro-feather-icons";
import CopyEmail from "../Buttons/CopyEmail.astro";
import SendEmail from "../Buttons/SendEmail.astro";
---

<section class="w-full">
  <header
    class="font-bold text-2xl text-indigo-500 dark:text-gray-100 mb-6 flex items-center gap-3"
  >
    <h2>Email</h2><Mail />
  </header><div class="flex gap-2">
    <input
      type="text"
      disabled=""
      class="bg-black/5 dark:bg-white/5 w-full py-0.5 px-3 rounded-lg grid place-items-center text-slate-600 dark:text-slate-300 text-sm"
      value={email}
      aria-label="Email"
    /><div class="flex gap-2">
      <SendEmail email={email} />
      <CopyEmail email={email} />
    </div>
  </div>
</section>
