---
import { AtSign, GitHub, Linkedin } from "astro-feather-icons";
---

<section class="w-full">
  <header
    class="font-bold text-2xl text-indigo-500 dark:text-gray-100 mb-6 flex items-center gap-3"
  >
    <h2>Socials</h2><AtSign />
  </header>
  <div class="flex flex-wrap gap-3 items-center">
    <a
      href="https://www.linkedin.com/in/cesaraugp"
      target="_blank"
      rel="noreferrer"
      class="dark:!shadow-[0_0_0_2px_hsla(0,0%,100%,.06)] dark:hover:!shadow-[0_0_0_6px_hsla(0,0%,100%,.06)] flex items-center gap-3 px-4 h-16 rounded-xl text-sky-600 transition-shadow shadow-social-link shadow-social-link-hover"
      ><Linkedin class="dark:fill-white" /> Linkedin</a
    >

    <a
      href="https://www.github.com/cesaraugp"
      target="_blank"
      rel="noreferrer"
      class="dark:!shadow-[0_0_0_2px_hsla(0,0%,100%,.06)] dark:hover:!shadow-[0_0_0_6px_hsla(0,0%,100%,.06)] flex items-center gap-3 px-4 h-16 rounded-xl dark:text-gray-200 transition-shadow text-black shadow-social-link shadow-social-link-hover"
      ><GitHub class="fill-black dark:fill-white" /> Github</a
    >
  </div>
</section>
<style>
  .shadow-sm,
  .shadow-social-link {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 0 0 2px rgb(0 0 0/6%);
  }

  .shadow-social-link {
    --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  }

  .shadow-social-link-hover:hover {
    --tw-shadow: 0 0 0 4px rgb(0 0 0/9%);
  }
</style>
