---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<div class="inline-block" style="width: 45px;">
  <LottieAnimation src="assets/mustache.json" autoplay="visible" />
</div>
